<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iusto corrupti aspernatur dolore doloribus ratione, animi dolorum enim perspiciatis dolorem. Id aperiam odit exercitationem perferendis mollitia error eveniet, itaque aut!</p>
