<h1>Heroes <small>Marvel y DC</small></h1>
<hr>
<div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4 animated fadeIn fast" *ngFor="let heroe of heroes; let i = index">
    <div class="card">
      <img [src]="heroe.img" class="card-img-top img-fluid" [alt]="heroe.nombre">
      <div class="card-body">
        <h4 class="card-title">{{ heroe.nombre }}</h4>
        <p class="card-text">{{ heroe.bio }}</p>
        <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>

        <button (click)="verHeroe(i)" type="button" class="btn btn-outline-primary btn-block">Ver más...</button>
        <!-- <a [routerLink]="['/heroe', i]" class="btn btn-outline-primary">Ver más link...</a> -->

      </div>
    </div>
  </div>
</div>
