<h1>Heroes encontrados...</h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="filterHeroes.length == 0">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      No existe resultado con el termino: {{ termino }}
    </div>
  </div>
</div>

<p *ngIf="filterHeroes.length == 0" class="animated fadeIn">{{msg}}</p>

<div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4 animated fadeIn fast" *ngFor="let heroe of filterHeroes; let i = index">
    <div class="card">
      <img [src]="heroe.img" class="card-img-top img-fluid" [alt]="heroe.nombre">
      <div class="card-body">
        <h4 class="card-title">{{ heroe.nombre }}</h4>
        <p class="card-text">{{ heroe.bio }}</p>
        <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>

        <button (click)="verHeroe(i)" type="button" class="btn btn-outline-primary btn-block">Ver más...</button>
        <!-- <a [routerLink]="['/heroe', i]" class="btn btn-outline-primary">Ver más link...</a> -->

      </div>
    </div>
  </div>
</div>